@media (max-width: 767.98px) {
  .c-container-mobile {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.c-select-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 3;
  border-radius: 0.25em;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.c-select-wrap:hover:after {
  content: "";
  color: #f39c12;
}

.c-select-wrap:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #eaeaea;
}

.c-select-wrap:before {
  content: url("../assets/images/svg/arrow_down.svg");
  position: absolute;
  top: 5px;
  right: -13px;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.c-select-wrap .select-icon {
  display: none;
}

.c-select-wrap .styledSelect {
  color: #212121;
  background: transparent;
}

.c-select-wrap .tooltip-inner {
  background-color: #fbaf33;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 0 !important;
}

.c-select-wrap .tooltip.in {
  opacity: 1 !important;
}

.c-select-wrap .tooltip.top .tooltip-arrow {
  border-top-color: #fbaf33;
}
/* Reset Select */
.c-select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  border: 0 !important;
  padding: 15px 15px 15px 1px;
  cursor: pointer;
  color: #212121;
  font-size: 16px;
  line-height: 18px;
  /* Remove IE arrow */
}

.c-select::-ms-expand {
  display: none;
}

.c-btn {
  display: inline-block;
  padding: 15px 40px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}

.c-btn:focus,
.c-btn:hover {
  border: 0;
  outline: 0;
  text-decoration: none;
}

.c-btn--red {
  background: var(--crank-base);
}

.c-btn--red:focus,
.c-btn--red:hover {
  opacity: 0.9;
  color: #ffffff;
}

.tyre-search-engine {
  position: relative;
  margin: 0 0 25px 0;
}
@media (min-width: 992px) {
  .tyre-search-engine {
    margin: -105px 0 25px 0;
  }
}

.tyre-search__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background-color: var(--crank-black);
  list-style: none;
  padding: 15px;
  margin-bottom: 0;
}

.tyre-search__radios li {
  margin-right: 6px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 340px) {
  .tyre-search__radios li {
    margin-right: 5px;
  }
}

@media (min-width: 768px) {
  .tyre-search__radios li {
    margin-right: 30px;
  }
}

@media (min-width: 992px) {
  .tyre-search__radios {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.tyre-search__radios-text {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 767.98px) {
  .tyre-search__radios-text {
    white-space: nowrap;
    width: 100%;
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
  .tyre-search__radios-text {
    font-size: 16px;
    line-height: 18px;
    margin-left: 5px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 340px) {
  .tyre-search__radios-text {
    font-size: 15px;
    margin-left: 0;
  }
}

.tyre-search__type {
  position: absolute;
  left: -9999px;
  /* Stuff after this is only to make things more pretty */
}

.tyre-search__type[type="radio"]:checked + label > .tyre-search__radios-text {
  color: white;
}

.tyre-search__type[type="radio"] + label > svg {
  -webkit-transition: 500ms all;
  -o-transition: 500ms all;
  transition: 500ms all;
}

.tyre-search__type-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 767.98px) {
  .tyre-search__type-label svg {
    display: none;
  }
}

.tyre-search__tab-content {
  font-weight: bold;
  background: #ffffff;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 0;
}

@media (min-width: 768px) {
  .tyre-search__tab-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .tyre-search__tab-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 110px;
  }
}

.tyre-search__tab-content .c-btn--home {
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .tyre-search__tab-content .c-btn--home {
    margin-bottom: 0;
    width: 10%;
    padding: 15px 0;
  }
}

.tyre-search-by-wrap {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .tyre-search-by-wrap {
    width: 15%;
    margin-top: 0;
  }
}

.tyre-search-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 55px;
  color: #878787;
  font-size: 16px;
  line-height: 18px;
  background: #d2d2d2;
}

@media (max-width: 991.98px) {
  .tyre-search-by {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 45%;
  }
}

.tyre-search-by:focus,
.tyre-search-by:hover {
  color: #878787;
  text-decoration: none;
}

.tyre-search-by--active {
  background-color: var(--crank-base);
  color: #ffffff;
}

.tyre-search-by--active:focus,
.tyre-search-by--active:hover {
  color: #ffffff;
  text-decoration: none;
}

.tyre-search-by--active:after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  -webkit-transform: rotate(-45deg) translate(-50%, -1%);
  -ms-transform: rotate(-45deg) translate(-50%, -1%);
  transform: rotate(-45deg) translate(-50%, -1%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent var(--crank-base);
}

@media (min-width: 992px) {
  .tyre-search-by--active:after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 0;
    right: -11px;
    border-width: 25px 0 30px 11px;
  }
}

.tyre-search-season-wrap {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

@media (min-width: 992px) {
  .tyre-search-season-wrap {
    margin-top: 0;
    width: 15%;
  }
}

.tyre-search-season-wrap:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  height: 80px;
  width: 2px;
  background-color: #eaeaea;
}

@media (max-width: 991.98px) {
  .tyre-search-season-wrap:after {
    display: none;
  }
}

.tyre-search-season {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 45%;
  height: 31px;
  color: #cbcbcb;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: 992px) {
  .tyre-search-season {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.tyre-search-season:focus,
.tyre-search-season:hover {
  color: #cbcbcb;
  text-decoration: none;
}

.tyre-search-season svg {
  /*margin-left: 20px;*/
  margin-left: auto;
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .tyre-search-season svg {
    margin-left: 5px;
  }
}

.tyre-search-season-type {
  position: absolute;
  left: -9999px;
}

div.tyre-search-season label > span {
  margin-left: 20px;
}

.tyre-search-season-type[type="radio"]:checked
  + .tyre-search__type-label
  > .tyre-search-sun
  path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #e0b90e;
}

.tyre-search-season-type[type="radio"]:checked
  + .tyre-search__type-label
  > .tyre-search-winter
  path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #87b6ec;
}
.tyre-search-season-type[type="radio"]:checked
  + .tyre-search__type-label
  > .tyre-search-allseason
  path:not(:nth-child(5)) {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #f0b243;
}

.tyre-search-season-type[type="radio"]:checked
  + .tyre-search__type-label
  > .tyre-search-allseason
  path:nth-child(5) {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #87b6ec;
}

.tyre-search__season-text {
  margin-left: 15px;
  font-size: 15px;
}

.tyre-search-season-type[type="radio"]:checked
  + .tyre-search__type-label
  > .tyre-search__season-text {
  color: #212121 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tyre-search-season--active {
  color: #212121;
}

.tyre-search-season--active:focus,
.tyre-search-season--active:hover {
  color: #212121;
}

.tyre-search-season--active .tyre-search-sun path {
  fill: #e0b90e;
}

.tyre-search-season--active .tyre-search-winter path {
  fill: #87b6ec;
}

.tyre-search-season .tyre-search-allseason path {
  fill: #cbcbcb;
}

.tyre-search-season:active .tyre-search-allseason path:nth-child(1) {
  fill: yellow;
}

.tyre-search-inputs {
  width: 100%;
  padding: 20px;
}

.tyre-search-size-image {
  position: relative;
  top: 10px;
}

/* Tablet Landscape */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .tyre-search-select--size {
    margin: 0 -7.5px;
  }

  .tyre-search-select--size > [class*="col-"] {
    padding: 0 7.5px;
  }
}

/* Tablet Portrait */

@media (min-width: 768px) and (max-width: 991.98px) {
  .tyre-search-size-image {
    top: 14px;
  }

  .tyre-search-size-image-big {
    margin: 0 auto;
    width: 40%;
  }
}

@media (min-width: 769px) {
  .tyre-search-size-image-big {
    display: none;
  }
}

@media (max-width: 768px) {
  .tyre-search-size-image {
    display: none;
  }

  .tyre-search-size-image-big {
    width: 50%;
    margin: 0 auto 15px auto;
  }
}

@media (min-width: 992px) {
  .tyre-search-inputs {
    width: 55%;
    padding: 0;
  }
}

.tyre-search-inputs--car {
  display: none;
}

.tyre-search-select {
  display: none;
}

.tyre-search-select--active {
  display: block;
}

@media (min-width: 992px) and (max-width: 1920px) {
  .tyre-search-select--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/* Tyre Search Popover */
.tyre-search-submit button {
  width: 100% !important;
  padding: 15px 26px 15px 27px !important;
}

.tyre-search-submit .tooltip-inner {
  padding: 10px 20px 10px 20px;
  background-color: #fbaf33;
  color: #ffffff;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  text-align: center;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-top: -24px;
  max-width: 400px;
  z-index: 20 !important;
}

.tyre-search-submit .tooltip.in {
  opacity: 1 !important;
}

.tyre-search-submit .tooltip-arrow {
  border: none !important;
}

.tyre-search-submit .tooltip-arrow {
  width: 0 !important;
  height: 0 !important;
  border-style: solid !important;
  border-width: 72px 45px 0 45px !important;
  border-color: #fbaf33 transparent transparent transparent !important;
  -webkit-transform: scale(0.3) translateY(21px) !important;
  -ms-transform: scale(0.3) translateY(21px) !important;
  transform: scale(0.3) translateY(21px) !important;
  -webkit-transform-origin: left bottom !important;
  -ms-transform-origin: left bottom !important;
  transform-origin: left bottom !important;
  z-index: -1 !important;
  margin-left: 0;
}

@media screen and (min-width: 767px) {
  .tyre-search-submit .tooltip .arrow:after {
    margin-left: 0;
  }
}

@media screen and (min-width: 1025px) {
  .tyre-search-submit .tooltip {
    max-width: 400px !important;
    top: 50px !important;
    left: 790.023px !important;
    margin-top: -10px;
  }

  .tyre-search-submit .tooltip-arrow {
    left: 76% !important;
  }
}

@media only screen and (max-width: 767px) {
  .tyre-search-submit .tooltip {
    margin-top: -10px;
  }

  .tyre-search-submit .tooltip-inner {
    max-width: 205px;
    padding: 5px !important;
    white-space: normal !important;
  }

  .tyre-search-submit .tooltip-arrow {
    left: 46% !important;
  }
}

@media (min-width: 992px) {
  .tyre-search-select--size > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .tyre-search-select--size .styledSelect {
    padding: 0 5px 0 2px;
    font-size: 12px;
  }
}
